mixin ico_metro(metro)
    img(class!=attributes.class src="/images/icones/ico_l" + metro.line + ".png" alt="l" + metro.line)

mixin station_detail(station)
    div.uk-grid
        div.uk-width-3-10
            span(class!=attributes.class)=station.range
        div.uk-width-7-10
            span(class!=attributes.class)=ucfirst(station.label)

mixin transit_detail_info(transit)
    div.uk-grid
        div.uk-width-small-7-10.uk-push-3-10
            div
                +ico_metro(transit)
                span.uk-margin-left=ucfirst(transit.direction)
            div.uk-text-muted
                i.uk-icon-small.uk-icon-angle-down
                span.uk-margin-left #{transit.range} min (#{transit.length - 1} stops)

mixin transit_detail(transit)
    hr.uk-grid-divider
    +station_detail(transit.source).uk-text-bold.uk-text-large
    div.uk-grid
        div.uk-width-1-1
            div.uk-accordion(data-uk-accordion="{showfirst: false}")
                div.uk-accordion-title
                    +transit_detail_info(transit)
                div.uk-accordion-content
                    - for (var i = 1; i < transit.length - 1; i++)
                        +station_detail(transit.stations[i])
    +station_detail(transit.target).uk-text-bold.uk-text-large

mixin route_resume(source, target)
    div
        span.uk-text-muted from 
        | #{source} 
        span.uk-text-muted to 
        | #{target}

mixin range_resume(range)
    div
        | #{leave} - #{arrive} 
        span.uk-text-muted (#{range} min)

mixin transit_resume(route)
    div.uk-vertical-align-middle.uk-text-muted
        +ico_metro(route[0])
        - for (var i = 1; i < route.length; i++)
            i.uk-icon-small.uk-icon-angle-right.uk-margin-right.uk-margin-left
            +ico_metro(route[i])
