
hr
div(id="resume")
    div(class="uk-text-large")
        span(class="uk-text-muted")="departure: "
        span=source
    div(class="uk-text-large")
        span(class="uk-text-muted")="arrival: "
        span=target
    span(class="uk-h1")="0 - " + range + "(" + range + ")"

    div(class="uk-grid")
        div(class="uk-vertical-align-middle")
            each transit in route
                img(src="/images/icones/ico_l" + transit.line + ".png" alt="metro line " + transit.line)
                i(class="uk-icon-angle-right")

div(id="detail")

    each transit in route
        hr(class="uk-grid-divider")
        div(class="uk-grid")
            div(class="uk-width-3-10")
                span=transit.source.range
            div(class="uk-width-7-10")
                span=transit.source.label
        div(class="uk-grid")
            div(class="uk-width-3-10")
                img(src="/images/icones/ico_l" + transit.line + ".png" alt="metro line " + transit.line)

            div(class="uk-width-7-10")
                button(class="uk-button" data-uk-toggle="{target:'." + transit.line + "-stations', animation:'uk-animation-slide-top, uk-animation-slide-bottom'}")="more ..."
                div(class=transit.line + "-stations uk-hidden")
                    each station in transit.stations
                        div(class="uk-grid")
                            div(class="uk-width-3-10")
                                span=station.range
                            div(class="uk-width-7-10")
                                span=station.label

        div(class="uk-grid")
            div(class="uk-width-3-10")
                span=transit.target.range
            div(class="uk-width-7-10")
                span=transit.target.label
                